# Compiled Object files
*.slo
*.lo
*.o
*.obj

# builds
*.opk

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# User files
*.pro.user
.directory

# Executables
*.exe
